<%- include("partials/header") -%>

<% if (items.length == 0) { %>
    <p>Items are coming soon</p>
<% } %>

<% items.map((item) => { %>
    <h1><%= item.name %> </h1>
    <p><%= item.currency %><%= item.price %> </p>
    <button type="button" name="button" onclick="location.href='/items/<%= item.id%>'">view item</button>
<% }); %> 

<%- include("partials/footer") -%>