<h1><%= shop.name %></h1>
<p><%= shop.category %></p>

<% if (shop.items) { %>
  <% shop.items.map((item) => { %>
    <p><%= item.name %></p>
    <p><%=item.price %></p>
  <% }); %>
<% } %>
<button type="button" name="button" onclick="location.href='/account/<%= shop._id %>/additem'">add new item</button>

<form>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <button type="button" onClick="makePayment()">Pay Now</button>
</form>
