<h1><%= shop.name %></h1>
<p><%= shop.country %></p>

<% if (shop.items) { %>
  <% shop.items.map((item) => { %>
    <p>Name: <%= item.name %></p>
    <p>Amount: <%=item.price %></p>
    <button type="button" name="button" onclick="location.href='/items/<%= item.id%>'">view item</button>
  <% }); %>
<% } %>

<br>
<% if (user) { %>
  <% if (user.id === shop.vendor_id) { %>
  <button type="button" name="button" onclick="location.href='/vendor/<%= shop.id %>/additem'">add new item</button>
<% } %>
<% } %>

