<%- include("partials/header") -%>

<p>Purchase Currency: <%= purchase.currency %></p>
<p>Amount: <%= purchase.amount %></p>
<p>Item ID: <%= purchase.item_id %></p>
<p>Item name: <%= purchase.item_name %></p>
<p>Item quantity: <%= purchase.item_quantity %></p>
<p>Shop ID: <%= purchase.shop_id %></p>
<p>Vendor ID: <%= purchase.vendor_id %></p>
<p>Transaction reference: <%= purchase.tx_ref %></p>
<p>Payment status: <%= purchase.status %></p>

<%- include("partials/footer") -%>