<%- include("partials/header") -%>

<% if (shops.length == 0) { %>
    <p>Shops are coming soon</p>
<% } %>

<% shops.map((shop) => { %>
    <h1><%= shop.name %></h1>
    <p><%= shop.country %></p>
    <% if (shop.items) { %>
        <% shop.items.slice(0, 5).map((item) => { %>
            <ul>
                <li><%= item.name %></li>
                <li><%= item.price %></li>
            </ul>
        <% }); %>
    <% } %>
    <button type="button" name="button" onclick="location.href='/shops/<%= shop.id %>'">visit shop</button>
<% }); %>

<%- include("partials/footer") -%>